<body class="body">

<!--hero-banner-->

<section class="banner">
  <%#= image_tag 'work.jpg' %>
  <div class="container">
    <h1><strong>Définissons ensemble votre projet web.</strong></h1>
    <p>Web développeuse</p>
    <p>Nantes </p>
    <div class="btn-container">
      <a class="btn btn-flat" href="#contact-submit">Contactez moi</a>
        <%= link_to "Contact", contacts_path %>
    </div>
  </div>
</section>

<!--me-->
<section>
  <div class="img-test">
    <div class="welcome-from-right" >
      <div class="test" data-aos="fade-left" data-aos-duration="3000">
        <h1>This is me</h1>
        <h2>From Guadeloupe whit sun</h2>
        <p><%= image_tag 'paola_carbonnel.JPG' %></p>
      </div>
    </div>
    <div class="welcome-from-left">
      <div class="test" data-aos="fade-right" data-aos-duration="3000">
        <h1>2008 - 2014</h1>
        <h2>School</h2>
        <p>DUT Techniques de commercialisation
           Bachelor European Business Management
           Ecole de Management de Normandie</p>
      </div>
    </div>
    <div class="welcome-from-right">
      <div class="test" data-aos="fade-right" data-aos-duration="3000">
        <h1>2014</h1>
        <h2>d'aucy - Cheffe de produit junior</h2>
        <p>Analyses des marchés plats cuisinés appertisés et surgelés, études quantitives
        et qualitatives, développements de produits et gammes, communication
        auprès des commerciaux et des consommateurs.</p>
      </div>
    </div>
    <div class="welcome-from-left">
      <div class="test" data-aos="fade-left" data-aos-duration="3000">
        <h1>2016</h1>
        <h2>Heineken - Responsable promotion de clientèle - CHR</h2>
        <p>Suivi de points de ventes, animations de réseaux de distribution (pilotage
        de plans d'actions, prospection, animations et promotions de ventes,
        montage de dossier de prêts, pré-analyse financière</p>
      </div>
    </div>
    <div class="welcome-from-right">
      <div class="test" data-aos="fade-right" data-aos-duration="3000">
        <h1>2019</h1>
        <h2>Le Wagon - New skill, new life ! </h2>
        <p>Développeuse web pour site et application mobile.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="references-blog">
    <h1>Actualités du net</h1>
    <p>Retrouvez des informations dont les sujets vont de la technique à la gestion de projet et passant par ... quelque chose d'autre.
      Sélectionnez les informations qui vous intéressent.
    </p>
  </div>
  <div class="life-style">
    <div class="card-trip">
      <%= image_tag 'eat_sleep_code_repeat.jpg' %>
      <div class="card-trip-infos">
        <div>
          <h2>Pourquoi j'ai choisi Le Wagon et qu'est-ce que c'est ?</h2>
        </div>
      </div>
    </div>
    <div class="card-trip">
      <%= image_tag 'design_thinking_web_dev_sprint.jpg' %>
      <div class="card-trip-infos">
        <div>
          <h2>Le design thinking ça vous parle ?</h2>
        </div>
      </div>
    </div>
    <div class="card-trip">
      <%= image_tag 'code_web_dev_ruby_on_rails_ror.jpg' %>
      <div class="card-trip-infos">
        <div>
          <h2>Ruby on rails (RoR), à quoi ça sert ?!</h2>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
