<section class="projet-section">
  <div class="projets-web" id="projet">
    <div class="projets-web-structure">
      <h1><strong>Et BIM ! c'est ce que je sais faire !</strong></h1>
      <a class="navbar-brand" href="#">
        <div class="projets-web-picture">
          <%= image_tag 'projets-web.jpg' %>
        </div>
      </a>
    </div>
    <div class="projets-web-structure">
      <div class="projet-icon">
        <li class="projets-web-details">
          <div>
            <%= image_tag 'user_story.png' %>
          </div>
          <div class="projet-texte">
            <h2>Tada</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </li>
      </div>
      <div>
        <li class="projets-web-details">
          <div>
            <%= image_tag 'maquette.png' %>
          </div>
          <div class="projet-texte">
            <h2>Projet 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </li>
      </div>
      <div>
        <li class="projets-web-details">
          <div>
            <%= image_tag 'webdesign.png' %>
          </div>
          <div class="projet-texte">
            <h2>Guest what</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </li>
      </div>
      <div>
        <li class="projets-web-details">
          <div>
            <%= image_tag 'code_web_development.svg' %>
          </div>
          <div class="projet-texte">
            <h2>???</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </li>
      </div>
    </div>
  </div>
</section>
