<section class="projet-section">
  <div class="projets-web" id="projet">
    <div class="projets-web-structure">
      <h1><strong>Projets web</strong></h1>
      <p>Un projet web, qu'est-ce que c'est ?
        <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quae atque officiis nostrum doloribus ad est cum, eos dolore deleniti,
      accusantium maiores temporibus quod delectus adipisci nulla voluptates at quis.</p>
      <a class="navbar-brand" href="#">
        <div class="projets-web-picture">
          <%= image_tag 'projets-web.jpg' %>
        </div>
      </a>
    </div>
    <div class="projets-web-structure">
      <div class="projet-icon">
        <li class="projets-web-details">
          <div>
            <%= image_tag 'user_story.png' %>
          </div>
          <div class="projet-texte">
            <h2>User story & concept</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </li>
      </div>
      <div>
        <li class="projets-web-details">
          <div>
            <%= image_tag 'maquette.png' %>
          </div>
          <div class="projet-texte">
            <h2>Maquette - Wireframe</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </li>
      </div>
      <div>
        <li class="projets-web-details">
          <div>
            <%= image_tag 'webdesign.png' %>
          </div>
          <div class="projet-texte">
            <h2>Webdesign</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </li>
      </div>
      <div>
        <li class="projets-web-details">
          <div>
            <%= image_tag 'code_web_development.svg' %>
          </div>
          <div class="projet-texte">
            <h2>Code & développement web</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </li>
      </div>
    </div>
  </div>
</section>
